<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  </head>
  <body>

    <div id="img-holder" style=""></div>

    <div id="container">
      <div class="step" id="step1">
        <div onclick="splashscreen()" id="splashscreen">
          <img id="logo" src="interface/logo.png">
        </div>
        <div id="characterChoice">
          <div class="title1">Choisis ton héros</div>
          <div style="position: absolute; font-size: 20px;top: 350px; width: 150px;left:137px"><b>Milo</b></div>
          <div style="position: absolute; font-size: 20px;top: 370px; width: 150px;left: 85px;">le petit renard</div>
          <div style="position: absolute; font-size: 20px;top: 350px; width: 150px;left:378px"><b>Lucie</b></div>
          <div style="position: absolute; font-size: 20px;top: 370px; width: 150px;left: 363px;">la pirate</div>
          <div style="position: absolute; font-size: 20px;top: 350px; width: 150px;left:613px"><b>Arthur</b></div>
          <div style="position: absolute; font-size: 20px;top: 370px; width: 150px;left: 601px;">le prince</div>
          <img onclick="step2('renard','audio/menus/heros/04_milo.mp3')" class="choice choice1" src="interface/renard.png">
          <img onclick="step2('pirate','audio/menus/heros/02_lucie.mp3')" class="choice choice2" src="interface/pirate.png">
          <img onclick="step2('prince','audio/menus/heros/03_arthur.mp3')" class="choice choice3" src="interface/prince.png">
        </div>
      </div>
      <div class="step" id="step2">
        <div id="contextChoice">
          <img onclick="step1()" class="arrow" src="interface/arrow.png">
          <div class="title2">Où se déroule l’aventure ?</div>
          <div style="position: absolute; font-size: 20px;top: 350px; width: 150px;left:105px"><b>Le château</b></div>
          <div style="position: absolute; font-size: 20px;top: 350px; width: 150px;left:359px"><b>La forêt</b></div>
          <div style="position: absolute; font-size: 20px;top: 350px; width: 150px;left:599px"><b>La plage</b></div>
          <img onclick="step3('chateau','audio/menus/lieu/04_chateau.mp3')" class="choice choice1" src="interface/chateau.png">
          <img onclick="step3('foret','audio/menus/lieu/02_foret.mp3')" class="choice choice2" src="interface/foret.png">
          <img onclick="step3('ile','audio/menus/lieu/03_plage.mp3')" class="choice choice3" src="interface/plage.png">
        </div>
      </div>
      <div class="step" id="step3">
        <div id="storyChoice">
          <img onclick="step2()" class="arrow" src="interface/arrow.png">
          <div class="title3">Quelle sera l’aventure de ton héros ?</div>
          <div style="position: absolute; font-size: 20px;top: 350px; width: 150px;left:106px"><b>Miss From</b></div>
          <div style="position: absolute; font-size: 20px;top: 370px; width: 150px;left:82px"><b>et son chapeau</b></div>
          <div style="position: absolute; font-size: 20px;top: 350px; width: 150px;left:355px"><b>Le trésor</b></div>
          <div style="position: absolute; font-size: 20px;top: 370px; width: 150px;left:361px"><b>maudit</b></div>
          <div style="position: absolute; font-size: 20px;top: 350px; width: 150px;left:612px"><b>Voyage</b></div>
          <div style="position: absolute; font-size: 20px;top: 370px; width: 170px;left:562px"><b>en terre inconnue</b></div>
          <img onclick="step4()" class="choice choice1" src="interface/miss from.png">
          <img onclick="step4()" class="choice choice2" src="interface/fusee.png">
          <img onclick="step4()" class="choice choice3" src="interface/tresor.png">
        </div>
      </div>
      <div class="step" id="step4">
        <div id="canvasesHolder">

          </div>
        <div id="textBanner">
          <div class="center">
            <div id="text">

            </div>
          </div>
          <img onclick="setUpScene()" class="arrowNext" src="interface/arrow.png">
        </div>
        <div id="startTransition">
        </div>
        <div id="sceneTransition">
        </div>
        <div id="endStory">
          <img id="logoEnd" src="interface/logo.png">
          <h1>Fin de l'histoire</h1>
        </div>
      </div>
    </div>


    <!-- holder for the story (should be hidden) -->
    <div id="story" style="display:none">
      <scene>
        <variable criterion="context">
          <scenedrawing clickable="0"  criterion="chateau" srcfile="/Drawings/chateau/chateau_environnement_01.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="ile" srcfile="/Drawings/plage/plage_environnement_01.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="foret" srcfile="/Drawings/foret/foret_environnement_01.png" x="0" y="0" width="800" height="480"></scenedrawing>
        </variable>
        <variable criterion="character">
          <scenedrawing clickable="0"  criterion="renard" srcfile="/Drawings/renard/renard_passif.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="prince" srcfile="/Drawings/prince/prince_passif.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="pirate" srcfile="/Drawings/pirate/pirate_passive.png" x="70" y="170" width="225" height="210"></scenedrawing>
        </variable>
        <variable criterion="character">
          <textstory criterion="renard" text="Il était une fois un petit renard qui s’appelait Milo. Il habitait avec ses parents, dans un joli petit terrier, " srcfile="\audio\milo\1_1_milo_01.mp3"></textstory>
          <textstory criterion="prince" text="Il était une fois, un petit prince qui s’appelait Arthur. Il habitait avec son père, le roi, " srcfile="\audio\arthur\1_1_arthur_01.mp3"></textstory>
          <textstory criterion="pirate" text="Il était une fois une petite pirate qui s’appelait Lucie. Elle habitait dans un bateau pirate, " srcfile="\audio\lucie\1_1_lucie_01.mp3"></textstory>
        </variable>
        <variable criterion="context">
          <textstory criterion="foret" text="près d'un bois." srcfile="\audio\foret\1_1_foret_01.mp3"></textstory>
          <textstory criterion="ile" text="près de la mer, parmis les crabes et les poissons." srcfile="\audio\ile\1_1_ile_01.mp3"></textstory>
          <textstory criterion="chateau" text="dans le royaume du Diamant." srcfile="\audio\chateau\1_1_chateau_01.mp3"></textstory>
        </variable>
      </scene>

      <scene>
        <variable criterion="context">
          <scenedrawing clickable="0"  criterion="chateau" srcfile="/Drawings/chateau/chateau_environnement_02.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="ile" srcfile="/Drawings/plage/plage_environnement_02.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="foret" srcfile="/Drawings/foret/foret_environnement_02.png" x="0" y="0" width="800" height="480"></scenedrawing>
        </variable>
        <scenedrawing clickable="0" srcfile="/Drawings/souris/souris_passive_tete_tournee.png" x="550" y="170" width="209" height="224"></scenedrawing>
        <variable criterion="character">
          <scenedrawing clickable="0"  criterion="renard" srcfile="/Drawings/renard/renard_surpris.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="prince" srcfile="/Drawings/prince/prince_surpris_epee_bois.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="pirate" srcfile="/Drawings/pirate/pirate_surprise_sabre_main.png" x="70" y="170" width="225" height="210"></scenedrawing>
        </variable>
        <variable criterion="context">
          <textstory criterion="foret" text="Un matin, dans la forêt, alors que les écureuils s’amusaient dans les arbres, " srcfile="\audio\foret\2_1_foret_01.mp3"></textstory>
          <textstory criterion="ile" text="Un matin, sur la plage, alors que les mouettes volaient au-dessus de l’eau, " srcfile="\audio\ile\2_1_ile_01.mp3"></textstory>
          <textstory criterion="chateau" text="Un matin, devant le château du roi qui affichait fièrement son étendard , " srcfile="\audio\chateau\2_1_chateau_01.mp3"></textstory>
        </variable>
        <variable criterion="character">
          <textstory criterion="renard" text="Milo jouait tranquillement, quand, tout à coup, une souris attira son attention par le petit bruit qu'elle faisait." srcfile="\audio\milo\2_1_milo_01.mp3"></textstory>
          <textstory criterion="prince" text="Arthur jouait avec son épée en bois, quand tout à coup, une souris attira son attention par le petit bruit qu'elle faisait." srcfile="\audio\arthur\2_1_arthur_01.mp3"></textstory>
          <textstory criterion="pirate" text="Lucie jouait avec son sabre en bois, quand, tout à coup, une souris attira son attention par le petit bruit qu'elle faisait." srcfile="\audio\lucie\2_1_lucie_01.mp3"></textstory>
        </variable>
      </scene>

      <scene>
        <variable criterion="context">
          <scenedrawing clickable="0"  criterion="chateau" srcfile="/Drawings/chateau/chateau_environnement_02.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="ile" srcfile="/Drawings/plage/plage_environnement_02.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="foret" srcfile="/Drawings/foret/foret_environnement_02.png" x="0" y="0" width="800" height="480"></scenedrawing>
        </variable>
        <variable criterion="character">
          <scenedrawing clickable="0"  criterion="renard" srcfile="/Drawings/renard/renard_surpris.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="prince" srcfile="/Drawings/prince/prince_surpris_epee_bois.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="pirate" srcfile="/Drawings/pirate/pirate_surprise_sabre_main.png" x="70" y="170" width="225" height="210"></scenedrawing>
        </variable>
        <variable criterion="character">
          <scenedrawing clickable="0"  criterion="renard" srcfile="/Drawings/renard/renard_surpris.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="prince" srcfile="/Drawings/prince/prince_surpris_epee_bois.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="pirate" srcfile="/Drawings/pirate/pirate_surprise_sabre_main.png" x="70" y="170" width="225" height="210"></scenedrawing>
        </variable>
        <scenedrawing clickable="0" srcfile="/Drawings/souris/souris_passive_tete_tournee.png" x="550" y="170" width="209" height="224"></scenedrawing>
        <textstory text="Miss From', c'était le nom de cette souris, était en train de se fabriquer un joli chapeau à l'aide de pétales tombés au pied d'un rosier." srcfile="\audio\fixe\2_2_fixe_01.mp3"></textstory>
      </scene>

      <scene>
        <variable criterion="context">
          <scenedrawing clickable="0"  criterion="chateau" srcfile="/Drawings/chateau/chateau_environnement_02.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="ile" srcfile="/Drawings/plage/plage_environnement_02.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="foret" srcfile="/Drawings/foret/foret_environnement_02.png" x="0" y="0" width="800" height="480"></scenedrawing>
        </variable>
        <variable criterion="character">
          <scenedrawing clickable="0"  criterion="renard" srcfile="/Drawings/renard/renard_surpris.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="prince" srcfile="/Drawings/prince/prince_surpris_epee_bois.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="pirate" srcfile="/Drawings/pirate/pirate_surprise_sabre_main.png" x="70" y="170" width="225" height="210"></scenedrawing>
        </variable>
        <scenedrawing clickable="0" srcfile="/Drawings/souris/souris_peur_chapeau_casse.png" x="550" y="210" width="209" height="224"></scenedrawing>
        <variable criterion="character">
          <textstory criterion="renard" text="Sentant un regard posé sur elle, Miss From' se retourna d'un coup, et se retrouvera nez à nez avec un renard." srcfile="audio/milo/2_3_milo_01.mp3"></textstory>
          <textstory criterion="prince" text="Sentant un regard posé sur elle, Miss From' se retourna d'un coup et se retrouvera nez à nez avec un petit prince armé d’une épée." srcfile="audio/arthur/2_3_arthur_01.mp3"></textstory>
          <textstory criterion="pirate" text="Sentant un regard posé sur elle, Miss From' se retourna d'un coup et se retrouvera nez à nez avec une pirate armée." srcfile="audio/lucie/2_3_lucie_01.mp3"></textstory>
        </variable>
      </scene>

      <scene>
        <variable criterion="context">
          <scenedrawing clickable="0"  criterion="chateau" srcfile="/Drawings/chateau/chateau_environnement_02.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="ile" srcfile="/Drawings/plage/plage_environnement_02.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="foret" srcfile="/Drawings/foret/foret_environnement_02.png" x="0" y="0" width="800" height="480"></scenedrawing>
        </variable>
        <variable criterion="character">
          <scenedrawing clickable="0"  criterion="renard" srcfile="/Drawings/renard/renard_passif.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="prince" srcfile="/Drawings/prince/prince_passif.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="pirate" srcfile="/Drawings/pirate/pirate_passive.png" x="70" y="170" width="225" height="210"></scenedrawing>
        </variable>
        <scenedrawing clickable="0" srcfile="/Drawings/souris/souris_peur_chapeau_casse.png" x="550" y="210" width="209" height="224"></scenedrawing>
        <textstory text="« Haaaaaa ! au secours ! cria Miss From'." srcfile="/audio/fixe/2_3_fixe_01.mp3"></textstory>
      </scene>

      <scene>
        <variable criterion="context">
          <scenedrawing clickable="0"  criterion="chateau" srcfile="/Drawings/chateau/chateau_environnement_02.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="ile" srcfile="/Drawings/plage/plage_environnement_02.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="foret" srcfile="/Drawings/foret/foret_environnement_02.png" x="0" y="0" width="800" height="480"></scenedrawing>
        </variable>
        <variable criterion="character">
          <scenedrawing clickable="0"  criterion="renard" srcfile="/Drawings/renard/renard_4pattes_parle.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="prince" srcfile="/Drawings/prince/prince_parle.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="pirate" srcfile="/Drawings/pirate/pirate_parle.png" x="70" y="170" width="225" height="210"></scenedrawing>
        </variable>
        <scenedrawing clickable="0" srcfile="/Drawings/souris/souris_heureuse_chapeau_casse.png" x="550" y="170" width="209" height="224"></scenedrawing>
        <variable criterion="character">
          <textstory criterion="renard" text="- Oh ! désolée... N'ayez pas peur, jolie souris ! s'écria Milo." srcfile="\audio\milo\2_4_milo_01.mp3"></textstory>
          <textstory criterion="prince" text="- Oh ! désolée... N'ayez pas peur, jolie souris ! s'écria Arthur." srcfile="\audio\arthur\2_4_arthur_01.mp3"></textstory>
          <textstory criterion="pirate" text="- Oh ! désolée... N'ayez pas peur, jolie souris ! s'écria Lucie." srcfile="\audio\lucie\2_4_lucie_01.mp3"></textstory>
        </variable>
      </scene>

      <scene>
        <variable criterion="context">
          <scenedrawing clickable="0"  criterion="chateau" srcfile="/Drawings/chateau/chateau_environnement_02.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="ile" srcfile="/Drawings/plage/plage_environnement_02.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="foret" srcfile="/Drawings/foret/foret_environnement_02.png" x="0" y="0" width="800" height="480"></scenedrawing>
        </variable>
        <variable criterion="character">
          <scenedrawing clickable="0"  criterion="renard" srcfile="/Drawings/renard/renard_passif.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="prince" srcfile="/Drawings/prince/prince_passif.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="pirate" srcfile="/Drawings/pirate/pirate_passive.png" x="70" y="170" width="225" height="210"></scenedrawing>
        </variable>
        <scenedrawing clickable="0" srcfile="/Drawings/souris/souris_parle_chapeau_casse.png" x="550" y="170" width="209" height="224"></scenedrawing>
        <textstory text="- Qui es-tu ? demanda la souris." srcfile="/audio/fixe/2_5_fixe_01.mp3"></textstory>
      </scene>

      <scene>
        <variable criterion="context">
          <scenedrawing clickable="0"  criterion="chateau" srcfile="/Drawings/chateau/chateau_environnement_02.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="ile" srcfile="/Drawings/plage/plage_environnement_02.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="foret" srcfile="/Drawings/foret/foret_environnement_02.png" x="0" y="0" width="800" height="480"></scenedrawing>
        </variable>
        <variable criterion="character">
          <scenedrawing clickable="0"  criterion="renard" srcfile="/Drawings/renard/renard_4pattes_parle.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="prince" srcfile="/Drawings/prince/prince_parle.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="pirate" srcfile="/Drawings/pirate/pirate_parle.png" x="70" y="170" width="225" height="210"></scenedrawing>
        </variable>
        <scenedrawing clickable="0" srcfile="/Drawings/souris/souris_passive_chapeau_casse.png" x="550" y="170" width="209" height="224"></scenedrawing>
        <variable criterion="character">
          <textstory criterion="renard" text="- Je m'appelle Milo, et j'ai 8 ans. Et vous, comment vous appelez-vous ?" srcfile="/audio/milo/2_6_milo_01.mp3"></textstory>
          <textstory criterion="prince" text="- Je m'appelle Arthur, et je suis le prince du royaume. Et vous, comment vous appelez-vous ?" srcfile="/audio/arthur/2_6_arthur_01.mp3"></textstory>
          <textstory criterion="pirate" text="- Je m'appelle Lucie, la petite terreur des mers. Et vous, comment vous appelez-vous ?" srcfile="/audio/lucie/2_6_lucie_01.mp3"></textstory>
        </variable>
      </scene>

      <scene>
        <variable criterion="context">
          <scenedrawing clickable="0"  criterion="chateau" srcfile="/Drawings/chateau/chateau_environnement_02.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="ile" srcfile="/Drawings/plage/plage_environnement_02.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="foret" srcfile="/Drawings/foret/foret_environnement_02.png" x="0" y="0" width="800" height="480"></scenedrawing>
        </variable>
        <variable criterion="character">
          <scenedrawing clickable="0"  criterion="renard" srcfile="/Drawings/renard/renard_passif.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="prince" srcfile="/Drawings/prince/prince_passif.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="pirate" srcfile="/Drawings/pirate/pirate_passive.png" x="70" y="170" width="225" height="210"></scenedrawing>
        </variable>
        <scenedrawing clickable="0" srcfile="/Drawings/souris/souris_parle_chapeau_casse.png" x="550" y="170" width="209" height="224"></scenedrawing>
        <textstory text="- Je me prénomme Miss From'." srcfile="/audio/fixe/2_7_fixe_01.mp3"></textstory>
        <variable criterion="context">
          <textstory criterion="foret" text="Je vis dans le bois, tout là-bas." srcfile="/audio/foret/2_7_foret_01.mp3"></textstory>
          <textstory criterion="ile" text="Je vis dans la crique sur la plage, tout là-bas, après la barque." srcfile="/audio/ile/2_7_ile_01.mp3"></textstory>
          <textstory criterion="chateau" text="Je vis dans les douves du château." srcfile="/audio/chateau/2_7_chateau_01.mp3"></textstory>
        </variable>
      </scene>

      <scene>
        <variable criterion="context">
          <scenedrawing clickable="0"  criterion="chateau" srcfile="/Drawings/chateau/chateau_environnement_02.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="ile" srcfile="/Drawings/plage/plage_environnement_02.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="foret" srcfile="/Drawings/foret/foret_environnement_02.png" x="0" y="0" width="800" height="480"></scenedrawing>
        </variable>
        <variable criterion="character">
          <scenedrawing clickable="0"  criterion="renard" srcfile="/Drawings/renard/renard_4pattes_parle.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="prince" srcfile="/Drawings/prince/prince_parle.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="pirate" srcfile="/Drawings/pirate/pirate_parle.png" x="70" y="170" width="225" height="210"></scenedrawing>
        </variable>
        <scenedrawing clickable="0" srcfile="/Drawings/souris/souris_etonnee_chapeau_casse.png" x="550" y="170" width="209" height="224"></scenedrawing>
        <variable criterion="character">
          <textstory criterion="renard" text="- Puis-je vous aider à terminer votre chapeau ? proposa Milo." srcfile="\audio\milo\2_8_milo_01.mp3"></textstory>
          <textstory criterion="prince" text="- Puis-je vous aider à terminer votre chapeau ? proposa Arthur." srcfile="\audio\arthur\2_8_arthur_01.mp3"></textstory>
          <textstory criterion="pirate" text="- Puis-je vous aider à terminer votre chapeau ? proposa Lucie." srcfile="\audio\lucie\2_8_lucie_01.mp3"></textstory>
        </variable>
      </scene>

      <scene>
        <variable criterion="context">
          <scenedrawing clickable="0"  criterion="chateau" srcfile="/Drawings/chateau/chateau_environnement_02.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="ile" srcfile="/Drawings/plage/plage_environnement_02.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="foret" srcfile="/Drawings/foret/foret_environnement_02.png" x="0" y="0" width="800" height="480"></scenedrawing>
        </variable>
        <variable criterion="character">
          <scenedrawing clickable="0"  criterion="renard" srcfile="/Drawings/renard/renard_passif.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="prince" srcfile="/Drawings/prince/prince_passif.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="pirate" srcfile="/Drawings/pirate/pirate_passive.png" x="70" y="170" width="225" height="210"></scenedrawing>
        </variable>
        <scenedrawing clickable="0" srcfile="/Drawings/souris/souris_etonnee_chapeau_casse.png" x="550" y="170" width="209" height="224"></scenedrawing>
        <textstory text="- C'est très gentil à toi ! Oui, je te remercie ! répondit la souris, étonnée. »" srcfile="/audio/fixe/2_9_fixe_01.mp3"></textstory>
      </scene>

      <scene>
        <variable criterion="context">
          <scenedrawing clickable="0"  criterion="chateau" srcfile="/Drawings/chateau/chateau_environnement_03.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="ile" srcfile="/Drawings/plage/plage_environnement_03.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="foret" srcfile="/Drawings/foret/foret_environnement_03.png" x="0" y="0" width="800" height="480"></scenedrawing>
        </variable>
        <variable criterion="character">
          <scenedrawing clickable="0"  criterion="renard" srcfile="/Drawings/renard/renard_passif_petales_mains.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="prince" srcfile="/Drawings/prince/prince_passif_petales_rose_mains.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="pirate" srcfile="/Drawings/pirate/pirate_passive_petales_mains.png" x="70" y="170" width="225" height="210"></scenedrawing>
        </variable>
        <scenedrawing clickable="0" srcfile="/Drawings/souris/souris_passive_chapeau_casse.png" x="550" y="170" width="209" height="224"></scenedrawing>
        <variable criterion="context">
          <textstory criterion="foret" text="Sur ces mots, ils se dirigèrent tous deux vers une clairière illuminée par le soleil." srcfile="\audio\foret\3_1_foret_01.mp3"></textstory>
          <textstory criterion="ile" text="Sur ces mots, ils se dirigèrent tous deux vers des falaises près des cavernes." srcfile="\audio\ile\3_1_ile_01.mp3"></textstory>
          <textstory criterion="chateau" text="Sur ces mots, ils se dirigèrent tous deux vers les jardins du roi, à l’ombre d’un grand arbre." srcfile="\audio\chateau\3_1_chateau_01.mp3"></textstory>
        </variable>
        <variable criterion="character">
          <textstory criterion="renard" text="Milo se mit à ramasser quelques pétales de rose pour terminer l'ouvrage qu’il agrémenta aussi de quelques pétales de pâquerette. " srcfile="/audio/milo/3_1_milo_01.mp3"></textstory>
          <textstory criterion="prince" text="Arthur se mit à ramasser quelques pétales de rose pour terminer l'ouvrage qu’elle agrémenta aussi de quelques pétales de pâquerette. " srcfile="/audio/arthur/3_1_arthur_01.mp3"></textstory>
          <textstory criterion="pirate" text="Lucie se mit à ramasser quelques pétales de rose pour terminer l'ouvrage qu’il agrémenta aussi de quelques pétales de pâquerette. " srcfile="/audio/lucie/3_1_lucie_01.mp3"></textstory>
        </variable>
      </scene>

      <scene>
        <variable criterion="context">
          <scenedrawing clickable="0"  criterion="chateau" srcfile="/Drawings/chateau/chateau_environnement_03.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="ile" srcfile="/Drawings/plage/plage_environnement_03.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="foret" srcfile="/Drawings/foret/foret_environnement_03.png" x="0" y="0" width="800" height="480"></scenedrawing>
        </variable>
        <variable criterion="character">
          <scenedrawing clickable="0"  criterion="renard" srcfile="/Drawings/renard/renard_passif_chapeau_repare.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="prince" srcfile="/Drawings/prince/prince_passif_chapeau_repare.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="pirate" srcfile="/Drawings/pirate/pirate_passive_chapeau_repare.png" x="70" y="170" width="225" height="210"></scenedrawing>
        </variable>
        <scenedrawing clickable="0" srcfile="/Drawings/souris/souris_heureuse.png" x="550" y="170" width="209" height="224"></scenedrawing>
        <variable criterion="character">
          <textstory criterion="renard" text="En guise de cordons, pour que Miss From' puisse attacher son chapeau, Milo fixa, sur les côtés, deux brins de ciboulette. Au bout de quelques heures de travail, le résultat était magnifique, et Miss From', enchantée !" srcfile="/audio/milo/3_2_milo_01.mp3"></textstory>
          <textstory criterion="prince" text="En guise de cordons, pour que Miss From' puisse attacher son chapeau, Arthur fixa, sur les côtés, deux brins de ciboulette. Au bout de quelques heures de travail, le résultat était magnifique, et Miss From', enchantée !" srcfile="/audio/arthur/3_2_arthur_01.mp3"></textstory>
          <textstory criterion="pirate" text="En guise de cordons, pour que Miss From' puisse attacher son chapeau, Lucie fixa, sur les côtés, deux brins de ciboulette. Au bout de quelques heures de travail, le résultat était magnifique, et Miss From', enchantée !" srcfile="/audio/lucie/3_2_lucie_01.mp3"></textstory>
        </variable>
      </scene>

      <scene>
        <variable criterion="context">
          <scenedrawing clickable="0"  criterion="chateau" srcfile="/Drawings/chateau/chateau_environnement_03.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="ile" srcfile="/Drawings/plage/plage_environnement_03.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="foret" srcfile="/Drawings/foret/foret_environnement_03.png" x="0" y="0" width="800" height="480"></scenedrawing>
        </variable>
        <variable criterion="character">
          <scenedrawing clickable="0"  criterion="renard" srcfile="/Drawings/renard/renard_4pattes_heureux.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="prince" srcfile="/Drawings/prince/prince_heureux.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="pirate" srcfile="/Drawings/pirate/pirate_heureuse.png" x="70" y="170" width="225" height="210"></scenedrawing>
        </variable>
        <scenedrawing clickable="0" srcfile="/Drawings/souris/souris_parle_chapeau_repare.png" x="550" y="170" width="209" height="224"></scenedrawing>
        <variable criterion="character">
          <textstory criterion="renard" text="« Milo, tu es vraiment très aimable. Que puis-je faire pour te remercier ? » demanda la souris." srcfile="/audio/milo/3_3_milo_01.mp3"></textstory>
          <textstory criterion="prince" text="« Arthur, tu es vraiment très aimable. Que puis-je faire pour te remercier ? » demanda la souris." srcfile="/audio/arthur/3_3_arthur_01.mp3"></textstory>
          <textstory criterion="pirate" text="« Lucie, tu es vraiment très aimable. Que puis-je faire pour te remercier ? » demanda la souris." srcfile="/audio/lucie/3_3_lucie_01.mp3"></textstory>
        </variable>
      </scene>

      <scene>
        <variable criterion="context">
          <scenedrawing clickable="0"  criterion="chateau" srcfile="/Drawings/chateau/chateau_environnement_03.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="ile" srcfile="/Drawings/plage/plage_environnement_03.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="foret" srcfile="/Drawings/foret/foret_environnement_03.png" x="0" y="0" width="800" height="480"></scenedrawing>
        </variable>
        <variable criterion="character">
          <scenedrawing clickable="0"  criterion="renard" srcfile="/Drawings/renard/renard_4pattes_parle.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="prince" srcfile="/Drawings/prince/prince_parle.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="pirate" srcfile="/Drawings/pirate/pirate_parle.png" x="70" y="170" width="225" height="210"></scenedrawing>
        </variable>
        <scenedrawing clickable="0" srcfile="/Drawings/souris/souris_passive_chapeau_repare.png" x="550" y="170" width="209" height="224"></scenedrawing>
        <variable criterion="context">
          <textstory criterion="foret" text="“Je m’ennuie souvent, je n’ai pas d’ami avec qui jouer dans la forêt”, " srcfile="/audio\foret\3_4_foret_01.mp3"></textstory>
          <textstory criterion="ile" text="“Je m’ennuie souvent, je n’ai pas d’ami avec qui jouer sur la plage”, " srcfile="/audio/ile/3_4_ile_01.mp3"></textstory>
          <textstory criterion="chateau" text="“Je m’ennuie souvent, je n’ai pas d’ami avec qui jouer dans le château”, " srcfile="/audio/chateau/3_4_chateau_01.mp3"></textstory>
        </variable>
        <variable criterion="character">
          <textstory criterion="renard" text="répondit Milo." srcfile="/audio/milo/3_4_milo_01.mp3"></textstory>
          <textstory criterion="prince" text="répondit Arthur." srcfile="/audio/arthur/3_4_arthur_01.mp3"></textstory>
          <textstory criterion="pirate" text="répondit Lucie." srcfile="/audio/lucie/3_4_lucie_01.mp3"></textstory>
        </variable>
      </scene>

      <scene>
        <variable criterion="context">
          <scenedrawing clickable="0"  criterion="chateau" srcfile="/Drawings/chateau/chateau_environnement_03.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="ile" srcfile="/Drawings/plage/plage_environnement_03.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="foret" srcfile="/Drawings/foret/foret_environnement_03.png" x="0" y="0" width="800" height="480"></scenedrawing>
        </variable>
        <variable criterion="character">
          <scenedrawing clickable="0"  criterion="renard" srcfile="/Drawings/renard/renard_4pattes_heureux.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="prince" srcfile="/Drawings/prince/prince_heureux.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="pirate" srcfile="/Drawings/pirate/pirate_heureuse.png" x="70" y="170" width="225" height="210"></scenedrawing>
        </variable>
        <scenedrawing clickable="0" srcfile="/Drawings/souris/souris_passive_chapeau_repare_sifflet.png" x="550" y="170" width="209" height="224"></scenedrawing>
        <textstory text="« Bien, bien, bien ! Je crois que j'ai une idée... dit Miss From', en sortant de sa poche un sifflet jaune. " srcfile="/audio/fixe/3_5_fixe_01.mp3"></textstory>
      </scene>

      <scene>
        <variable criterion="context">
          <scenedrawing clickable="0"  criterion="chateau" srcfile="/Drawings/chateau/chateau_environnement_03.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="ile" srcfile="/Drawings/plage/plage_environnement_03.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="foret" srcfile="/Drawings/foret/foret_environnement_03.png" x="0" y="0" width="800" height="480"></scenedrawing>
        </variable>
        <variable criterion="character">
          <scenedrawing clickable="0"  criterion="renard" srcfile="/Drawings/renard/renard_passif_sifflet.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="prince" srcfile="/Drawings/prince/prince_passif_sifflet.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="pirate" srcfile="/Drawings/pirate/pirate_passive_sifflet.png" x="70" y="170" width="225" height="210"></scenedrawing>
        </variable>
        <scenedrawing clickable="0" srcfile="/Drawings/souris/souris_parle_chapeau_repare.png" x="550" y="170" width="209" height="224"></scenedrawing>
        <textstory text="Je te donne ce sifflet. Prends-en soin ; il est très précieux. Lorsque tu souffleras trois fois dedans, trois fois, n'oublie pas, tu me verras apparaître et je te tiendrai compagnie un moment." srcfile="/audio/fixe/3_5B_fixe_01.mp3"></textstory>
      </scene>

      <scene>
        <variable criterion="context">
          <scenedrawing clickable="0"  criterion="chateau" srcfile="/Drawings/chateau/chateau_environnement_03.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="ile" srcfile="/Drawings/plage/plage_environnement_03.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="foret" srcfile="/Drawings/foret/foret_environnement_03.png" x="0" y="0" width="800" height="480"></scenedrawing>
        </variable>
        <variable criterion="character">
          <scenedrawing clickable="0"  criterion="renard" srcfile="/Drawings/renard/renard_heureux_sifflet.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="prince" srcfile="/Drawings/prince/prince_heureux_sifflet.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="pirate" srcfile="/Drawings/pirate/pirate_heureuse_sifflet.png" x="70" y="170" width="225" height="210"></scenedrawing>
        </variable>
        <scenedrawing clickable="0" srcfile="/Drawings/souris/souris_passive_chapeau_repare.png" x="550" y="170" width="209" height="224"></scenedrawing>
        <variable criterion="character">
          <textstory criterion="renard" text="- Oooooh ! merci, merci Miss From' ! s'écria Milo, en sautant de joie." srcfile="/audio/milo/3_6_milo_01.mp3"></textstory>
          <textstory criterion="prince" text="- Oooooh ! merci, merci Miss From' ! s'écria Arthur, en sautant de joie." srcfile="/audio/arthur/3_6_arthur_01.mp3"></textstory>
          <textstory criterion="pirate" text="- Oooooh ! merci, merci Miss From' ! s'écria Lucie, en sautant de joie." srcfile="/audio/lucie/3_6_lucie_01.mp3"></textstory>
        </variable>
      </scene>

      <scene>
        <variable criterion="context">
          <scenedrawing clickable="0"  criterion="chateau" srcfile="/Drawings/chateau/chateau_environnement_03.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="ile" srcfile="/Drawings/plage/plage_environnement_03.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="foret" srcfile="/Drawings/foret/foret_environnement_03.png" x="0" y="0" width="800" height="480"></scenedrawing>
        </variable>
        <variable criterion="character">
          <scenedrawing clickable="0"  criterion="renard" srcfile="/Drawings/renard/renard_passif_sifflet.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="prince" srcfile="/Drawings/prince/prince_passif_sifflet.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="pirate" srcfile="/Drawings/pirate/pirate_passive_sifflet.png" x="70" y="170" width="225" height="210"></scenedrawing>
        </variable>
        <scenedrawing clickable="0" srcfile="/Drawings/souris/souris_passive_chapeau_repare.png" x="550" y="170" width="209" height="224"></scenedrawing>
        <variable criterion="context">
          <textstory criterion="foret" text="La nuit commençait à se coucher et on pouvait apercevoir les derniers rayons de soleil à travers les arbres." srcfile="/audio/foret/3_7_foret_01.mp3"></textstory>
          <textstory criterion="ile" text="La nuit commençait à se coucher et on pouvait apercevoir les derniers rayons de soleil briller sur l’eau." srcfile="/audio/ile/3_7_ile_01.mp3"></textstory>
          <textstory criterion="chateau" text="La nuit commençait à se coucher et on pouvait apercevoir les derniers rayons de soleil sur les remparts du château." srcfile="/audio/chateau/3_7_chateau_01.mp3"></textstory>
        </variable>
      </scene>

      <scene>
        <variable criterion="context">
          <scenedrawing clickable="0"  criterion="chateau" srcfile="/Drawings/chateau/chateau_environnement_04.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="ile" srcfile="/Drawings/plage/plage_environnement_04.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="foret" srcfile="/Drawings/foret/foret_environnement_04.png" x="0" y="0" width="800" height="480"></scenedrawing>
        </variable>
        <variable criterion="character">
          <scenedrawing clickable="0"  criterion="renard" srcfile="/Drawings/renard/renard_passif_sifflet.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="prince" srcfile="/Drawings/prince/prince_passif_sifflet.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="pirate" srcfile="/Drawings/pirate/pirate_passive_sifflet.png" x="70" y="170" width="225" height="210"></scenedrawing>
        </variable>
        <scenedrawing clickable="0" srcfile="/Drawings/souris/souris_parle_chapeau_repare.png" x="550" y="170" width="209" height="224"></scenedrawing>
        <textstory text="- Il est temps pour moi de partir. »" srcfile="/audio/fixe/3_8_fixe_01.mp3"></textstory>
      </scene>

      <scene>
        <variable criterion="context">
          <scenedrawing clickable="0"  criterion="chateau" srcfile="/Drawings/chateau/chateau_environnement_04.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="ile" srcfile="/Drawings/plage/plage_environnement_04.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="foret" srcfile="/Drawings/foret/foret_environnement_04.png" x="0" y="0" width="800" height="480"></scenedrawing>
        </variable>
        <variable criterion="character">
          <scenedrawing clickable="0"  criterion="renard" srcfile="/Drawings/renard/renard_surpris_sifflet.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="prince" srcfile="/Drawings/prince/prince_surpris_sifflet.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="pirate" srcfile="/Drawings/pirate/pirate_surprise_sifflet.png" x="70" y="170" width="225" height="210"></scenedrawing>
        </variable>
        <scenedrawing clickable="0" srcfile="/Drawings/souris/souris_chapeau_repare_nuage_poudre.png" x="550" y="170" width="209" height="224"></scenedrawing>
        <variable criterion="character">
          <textstory criterion="renard" text="Et avant que Milo n'ait pu faire un geste, Miss From' avait disparu dans un nuage de poudre rose…" srcfile="/audio/milo/3_9_milo_01.mp3"></textstory>
          <textstory criterion="prince" text="Et avant que Arthur n'ait pu faire un geste, Miss From' avait disparu dans un nuage de poudre rose…" srcfile="/audio/arthur/3_9_arthur_01.mp3"></textstory>
          <textstory criterion="pirate" text="Et avant que Lucie n'ait pu faire un geste, Miss From' avait disparu dans un nuage de poudre rose…" srcfile="/audio/lucie/3_9_lucie_01.mp3"></textstory>
        </variable>
      </scene>

      <scene>
        <variable criterion="context">
          <scenedrawing clickable="0"  criterion="chateau" srcfile="/Drawings/chateau/chateau_environnement_05.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="ile" srcfile="/Drawings/plage/plage_environnement_05.png" x="0" y="0" width="800" height="480"></scenedrawing>
          <scenedrawing clickable="0"  criterion="foret" srcfile="/Drawings/foret/foret_environnement_05.png" x="0" y="0" width="800" height="480"></scenedrawing>
        </variable>
        <variable criterion="character">
          <scenedrawing clickable="0"  criterion="renard" srcfile="/Drawings/renard/renard_sautille.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="prince" srcfile="/Drawings/prince/prince_sautille_sifflet.png" x="70" y="170" width="225" height="210"></scenedrawing>
          <scenedrawing clickable="0"  criterion="pirate" srcfile="/Drawings/pirate/pirate_sautille_sifflet.png" x="70" y="170" width="225" height="210"></scenedrawing>
        </variable>
        <variable criterion="character">
          <textstory criterion="renard" text="Milo resta pensif un instant. Puis, en sautillant, il repartit vers son terrier; serrant son sifflet sur son coeur, heureux d'avoir trouvé une amie aussi originale." srcfile="/audio/milo/4_1_milo_01.mp3"></textstory>
          <textstory criterion="prince" text="Arthur resta pensif un instant. Puis, en sautillant, il repartit vers le royaume;  serrant son sifflet sur son coeur, heureux d'avoir trouvé une amie aussi originale." srcfile="/audio/arthur/4_1_arthur_01.mp3"></textstory>
          <textstory criterion="pirate" text="Lucie resta pensive un instant. Puis, en sautillant, elle repartit vers son bateau; serrant son sifflet sur son coeur, heureux d'avoir trouvé une amie aussi originale." srcfile="/audio/lucie/4_1_lucie_01.mp3"></textstory>
        </variable>
      </scene></div>

  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.2/howler.core.min.js"></script>
  <script src="./javascript/settings.js" charset="utf-8"></script>
  <script src="./javascript/storyParser.js" charset="utf-8"></script>
  <script src="./javascript/sceneHandler.js" charset="utf-8"></script>
  <script src="./javascript/main.js" charset="utf-8"></script>
<style>

</style>
</html>
