<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="img-holder" style="">
    </div>
    <div id="canvasesHolder">
      <canvas id="canvasClickListener" width="800" height="480" style="z-index: 1000;"></canvas>
    </div>
    <!-- holder for the story (should be hidden) -->
    <div id="story" style="display:none"></div>

  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.2/howler.core.min.js"></script>
  <script src="./javascript/settings.js" charset="utf-8"></script>
  <script src="./javascript/storyParser.js" charset="utf-8"></script>
  <script src="./javascript/sceneHandler.js" charset="utf-8"></script>
  <script src="./javascript/main.js" charset="utf-8"></script>
<style>
  canvas{
    position:absolute;
    left:0px;
    top:0px;
  }
  form{
    position: absolute;
    top:900px;
  }
</style>
</html>
